@model PatientRoomManagement.Models.Patient

@{
    ViewBag.Title = "Details";
}

@section head {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
}

<h2>Patient Details</h2>

<hr/>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mrn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mrn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>

<hr />
<div>
    <h2>Audit Information</h2>
    @foreach (var auditLog in Model.AuditLogs)
    {
        <div class="accordion">
            <h3>@auditLog.UserName @auditLog.EventType.ToString().ToLower() this record on @auditLog.EventDateUTC UTC</h3>
            <div>
                <dl class="dl-horizontal">
                    @foreach (var detail in auditLog.LogDetails)
                    {
                        <dt>@detail.PropertyName:</dt>

                        <dd>@detail.OriginalValue => @detail.NewValue</dd>
                    }
                </dl>
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $(function() {
            $( ".accordion" ).accordion({
                collapsible: true,
                active: false
            });
        });
    </script>
}
