@model PatientRoomManagement.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="room">
    @foreach (var patient in Model.Patients)
    {
        <div class="col-md-@(12/Model.NumberOfBeds) patient-area">
            <div class="bed">
                <div class="pillow">@patient.FirstName</div>
            </div>
        </div>
    }

    @for (var i = 0; i < Model.NumberOfBeds - Model.Patients.Count; i++)
    {
        <div class="col-md-@(12/Model.NumberOfBeds) patient-area">
            <div class="bed">
                <div class="pillow"></div>
            </div>
        </div>
    }
</div>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfBeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfBeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableSpace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableSpace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
