@model PatientRoomManagement.Models.Room

@{
    ViewBag.Title = "Details";
}

@section head {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
}

@if (string.IsNullOrEmpty(Model.Gender))
{
    <h2><i class="fa fa-transgender"></i> Room # @(Model.Number)</h2>
}
else
{
    <h2><i class="fa fa-@(Model.Gender?.ToLower())"></i> Room # @(Model.Number)</h2>
}

<div class="room">
    @foreach (var patient in Model.Patients)
    {
        <div class="col-md-@(12/Model.NumberOfBeds) patient-area">
            <div class="bed">
                <div class="pillow"></div>
                <div class="bed-info">
                    <div><label>F:</label><span>@patient.FirstName</span></div>
                    <div><label>L:</label><span>@patient.LastName</span></div>
                </div>
            </div>
        </div>
    }

    @for (var i = 0; i < Model.NumberOfBeds - Model.Patients.Count; i++)
    {
        <div class="col-md-@(12/Model.NumberOfBeds) patient-area">
            <div class="bed">
                <div class="pillow"></div>
                <div class="bed-info"><i class="fa fa-check-circle"></i>Available</div>
            </div>
        </div>
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<hr />
<div>
    <h2>Audit Information</h2>
    @foreach (var auditLog in Model.AuditLogs)
    {
        <div class="accordion">
            <p>@auditLog.UserName @auditLog.EventType.ToString().ToLower() this record on @auditLog.EventDateUTC UTC</p>
            <dl class="dl-horizontal">
                @foreach (var detail in auditLog.LogDetails)
                {
                    <dt>@detail.PropertyName:</dt>

                    <dd>@detail.OriginalValue => @detail.NewValue</dd>
                }
            </dl>
        </div>
    }
</div>

@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $(function() {
            $( ".accordion" ).accordion({
                collapsible: true,
                active: false
            });
        });
    </script>
}