@model PatientRoomManagement.Models.Room

@{
    ViewBag.Title = "Details";
}

@if (string.IsNullOrEmpty(Model.Gender))
{
    <h2><i class="fa fa-transgender"></i> Room # @(Model.Number)</h2>
}
else
{
    <h2><i class="fa fa-@(Model.Gender?.ToLower())"></i> Room # @(Model.Number)</h2>
}

<div class="room">
    @foreach (var patient in Model.Patients)
    {
        <div class="col-md-@(12/Model.NumberOfBeds) patient-area">
            <div class="bed">
                <div class="pillow"></div>
                <div class="bed-info">
                    <div><label>F:</label><span>@patient.FirstName</span></div>
                    <div><label>L:</label><span>@patient.LastName</span></div>
                </div>
            </div>
        </div>
    }

    @for (var i = 0; i < Model.NumberOfBeds - Model.Patients.Count; i++)
    {
        <div class="col-md-@(12/Model.NumberOfBeds) patient-area">
            <div class="bed">
                <div class="pillow"></div>
                <div class="bed-info"><i class="fa fa-check-circle"></i>Available</div>
            </div>
        </div>
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
