@model PatientRoomManagement.Models.Assignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignInDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignOutDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
